In [1]:
import requests
import json
import pandas as pd

In [2]:
headers = {'User-Agent': "email@address.com"}
ciks = "https://www.sec.gov/files/company_tickers.json"
symbol_to_cik = requests.get(ciks, headers=headers).json()
for i in range(5):
    print(i, symbol_to_cik[f"{i}"])

0 {'cik_str': 789019, 'ticker': 'MSFT', 'title': 'MICROSOFT CORP'}
1 {'cik_str': 320193, 'ticker': 'AAPL', 'title': 'Apple Inc.'}
2 {'cik_str': 1045810, 'ticker': 'NVDA', 'title': 'NVIDIA CORP'}
3 {'cik_str': 1018724, 'ticker': 'AMZN', 'title': 'AMAZON COM INC'}
4 {'cik_str': 1652044, 'ticker': 'GOOGL', 'title': 'Alphabet Inc.'}

In [12]:
cik_lookup = dict([(val['ticker'], val['cik_str']) for key, val in symbol_to_cik.items()])
cik = cik_lookup['CVX']
cik

93410

In [13]:
edgar_filings = requests.get(f"https://data.sec.gov/submissions/CIK{cik:0>10}.json", headers=headers).json()
edgar_filings.keys()

dict_keys(['cik', 'entityType', 'sic', 'sicDescription', 'insiderTransactionForOwnerExists', 'insiderTransactionForIssuerExists', 'name', 'tickers', 'exchanges', 'ein', 'description', 'website', 'investorWebsite', 'category', 'fiscalYearEnd', 'stateOfIncorporation', 'stateOfIncorporationDescription', 'addresses', 'phone', 'flags', 'formerNames', 'filings'])

In [14]:
pd.DataFrame(edgar_filings['filings']['files'])

                                 name  filingCount  filingFrom    filingTo
0  CIK0000093410-submissions-001.json         1494  1994-02-03  2015-05-11

In [23]:
recents = pd.DataFrame(edgar_filings['filings']['recent'])
recents.head()

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
0,0001127602-24-008918,2024-03-06,2024-02-06,2024-03-06T19:27:19.000Z,,4/A,,,,10727,0,0,xslF345X05/form4a.xml,PRIMARY DOCUMENT
1,0001127602-24-008916,2024-03-06,2024-01-31,2024-03-06T19:25:45.000Z,,4/A,,,,12985,0,0,xslF345X05/form4a.xml,PRIMARY DOCUMENT
2,0001127602-24-008914,2024-03-06,2023-12-18,2024-03-06T19:23:57.000Z,,4/A,,,,12234,0,0,xslF345X05/form4a.xml,PRIMARY DOCUMENT
3,0001127602-24-008912,2024-03-06,2023-01-31,2024-03-06T19:21:48.000Z,,4/A,,,,11267,0,0,xslF345X05/form4a.xml,PRIMARY DOCUMENT
4,0001127602-24-008910,2024-03-06,2023-01-25,2024-03-06T19:19:56.000Z,,4/A,,,,10602,0,0,xslF345X05/form4a.xml,PRIMARY DOCUMENT

In [24]:
recents.tail()

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
1003,0001127602-15-018932,2015-05-29,2015-05-27,2015-05-29T14:41:52.000Z,,4,,,,5039,0,0,xslF345X03/form4.xml,PRIMARY DOCUMENT
1004,0001127602-15-018930,2015-05-29,2015-05-27,2015-05-29T14:39:37.000Z,,4,,,,4848,0,0,xslF345X03/form4.xml,PRIMARY DOCUMENT
1005,0001127602-15-018927,2015-05-29,2015-05-27,2015-05-29T14:36:50.000Z,,4,,,,4788,0,0,xslF345X03/form4.xml,PRIMARY DOCUMENT
1006,0000093410-15-000022,2015-05-21,,2015-05-21T10:57:44.000Z,34,SD,001-00368,15881666,,18720,0,0,formsd52115.htm,SD
1007,0001127602-15-017028,2015-05-12,2015-05-11,2015-05-12T19:37:27.000Z,,4,,,,6091,0,0,xslF345X03/form4.xml,PRIMARY DOCUMENT

In [25]:
recents_10Q = recents.loc[recents['primaryDocDescription'] == '10-K']
recents_10Q.head()

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
9,0000093410-24-000013,2024-02-26,2023-12-31,2024-02-26T16:07:14.000Z,34,10-K,001-00368,24678720,,26497048,1,1,cvx-20231231.htm,10-K
158,0000093410-23-000009,2023-02-23,2022-12-31,2023-02-23T11:51:02.000Z,34,10-K,001-00368,23657837,,27668338,1,1,cvx-20221231.htm,10-K
299,0000093410-22-000019,2022-02-24,2021-12-31,2022-02-24T11:45:37.000Z,34,10-K,001-00368,22668315,,28652588,1,1,cvx-20211231.htm,10-K
425,0000093410-21-000009,2021-02-25,2020-12-31,2021-02-25T14:32:29.000Z,34,10-K,001-00368,21679450,,29919569,1,1,cvx-20201231.htm,10-K
563,0000093410-20-000010,2020-02-21,2019-12-31,2020-02-21T11:40:21.000Z,34,10-K,001-00368,20638157,,31415187,1,1,cvx12312019-10kdoc.htm,10-K

In [21]:
recents_10Q.tail()

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
563,0000093410-20-000010,2020-02-21,2019-12-31,2020-02-21T11:40:21.000Z,34,10-K,001-00368,20638157,,31415187,1,1,cvx12312019-10kdoc.htm,10-K
671,0000093410-19-000008,2019-02-22,2018-12-31,2019-02-22T11:25:08.000Z,34,10-K,001-00368,19624520,,27942737,1,0,cvx12312018-10kdoc.htm,10-K
759,0000093410-18-000010,2018-02-22,2017-12-31,2018-02-22T11:49:59.000Z,34,10-K,001-00368,18631598,,26865786,1,0,cvx12312017-10kdoc.htm,10-K
843,0000093410-17-000013,2017-02-23,2016-12-31,2017-02-23T12:18:42.000Z,34,10-K,001-00368,17631521,,28494560,1,0,cvx-123116x10kdoc.htm,10-K
940,0000093410-16-000049,2016-02-25,2015-12-31,2016-02-25T12:08:14.000Z,34,10-K,001-00368,161454688,,26171984,1,0,cvx-123115x10kdoc.htm,10-K

Example:  
To create URL for the report, use CIK, accessionNumber (remove dashes) and primaryDocument

https://www.sec.gov/ixviewer/ix.html?doc=/Archives/edgar/data/93410/000009341021000009/cvx-20201231.htm

In [19]:
cik

93410

0000093410-15-000031

In this document you can find:  
Financial and operational results  
•Our net income was USD453 million in the third quarter of 2023 as compared to net income of USD817 million in the same period last year. Included in our financial results for the current quarter:  
◦Revenues from contracts with customers decreased USD237 million compared to the same quarter last year as a result of lower realized commodity prices, partially offset by increased sales. Lower realized commodity prices also resulted in lower income from equity method investments, which decreased USD152 million compared to the same quarter last year.  
◦Net sales volumes in the U.S. segment increased 25% compared to the same period last year, primarily driven by increased production from the acreage acquired from Ensign.  
◦The increase in net sales volumes resulted in higher depreciation, depletion and amortization expense of USD123 million as compared to the same quarter last year.  
◦Our provision for income taxes decreased USD113 million compared to the same quarter last year.  
•Upon conclusion of the third quarter, we announced the signing of a 5-year firm LNG sales agreement for a portion of our equity gas from the Alba Field liquefied at EG LNG. The contract is effective January 1, 2024, and features a pricing structure linked to the Dutch Title Transfer Facility (TTF) index, providing us with significant incremental exposure to the European LNG market.

Sources of cash and cash equivalents  
Cash flows generated from operating activities during the third quarter of 2023 were 30% lower compared to 2022, primarily as a result of lower realized commodity prices, partially offset by higher volumes resulting from our acquisition of the Eagle Ford assets of Ensign in December 2022.  
During the first nine months of 2023, we borrowed USD1.0 billion and repaid USD1.5 billion under our Revolving Credit Facility. Additionally, we have net outstanding commercial paper borrowings of USD450 million as of September 30, 2023. See the Liquidity and Capital Resources section below for further information.

How returns are related to reports

In [ ]:
#recents_selected_releases = recents.loc[recents['primaryDocDescription'].isin(['10-Q', '10-K', '8-K'])]
recents_selected_releases = recents.loc[recents['primaryDocDescription'].isin(['10-Q', '10-K' ])]
recents_selected_releases.head()

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
14,0000101778-24-000023,2024-02-22,2023-12-31,2024-02-22T16:33:31.000Z,34,10-K,001-05153,24665402,,37363485,1,1,mro-20231231.htm,10-K
25,0000101778-23-000146,2023-11-02,2023-09-30,2023-11-02T16:21:32.000Z,34,10-Q,001-05153,231372683,,11308006,1,1,mro-20230930.htm,10-Q
48,0000101778-23-000107,2023-08-03,2023-06-30,2023-08-03T16:08:15.000Z,34,10-Q,001-05153,231139959,,10194187,1,1,mro-20230630.htm,10-Q
51,0000101778-23-000096,2023-05-04,2023-03-31,2023-05-04T16:04:44.000Z,34,10-Q,001-05153,23888556,,9078026,1,1,mro-20230331.htm,10-Q
79,0000101778-23-000030,2023-02-16,2022-12-31,2023-02-16T16:12:52.000Z,34,10-K,001-05153,23638645,,22321967,1,1,mro-20221231.htm,10-K

https://www.sec.gov/ixviewer/ix.html?doc=/Archives/edgar/data/101778/0000101778-24-000019/mro-20240221.htm

In [ ]:
recents_selected_releases.shape

(46, 14)

In [ ]:
dates_of_publication = recents_selected_releases['filingDate']

0      2024-02-22
11     2023-11-02
34     2023-08-03
37     2023-05-04
65     2023-02-16
91     2022-11-03
97     2022-08-04
112    2022-05-05
156    2022-02-17
169    2021-11-04
172    2021-08-05
178    2021-05-06
208    2021-02-23
221    2020-11-05
223    2020-08-06
230    2020-05-07
255    2020-02-20
272    2019-11-07
281    2019-08-08
288    2019-05-02
309    2019-02-21
322    2018-11-08
326    2018-08-02
334    2018-05-03
363    2018-02-22
380    2017-11-02
385    2017-08-03
399    2017-05-05
415    2017-02-24
452    2016-11-03
465    2016-08-04
473    2016-05-05
494    2016-02-25
511    2015-11-05
526    2015-08-06
537    2015-05-07
550    2015-03-02
574    2014-11-04
590    2014-08-05
608    2014-05-07
621    2014-02-28
652    2013-11-06
672    2013-08-08
684    2013-05-10
710    2013-02-22
732    2012-11-07
Name: filingDate, dtype: object

In [ ]:
# ToDo Check if returns in the dates of publication (or distribution of returns) is significantly different from average